*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url(images/amazon_logo.png);
    height: 50px;
    background-size: cover;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/* box 2 */

.add-first{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;

}

.add-second{
    font-size: 1rem;
    margin-left: 3px;

}

.add-icon{
    display: flex;
    align-items: center;
}